.about-info-box {
    display: flexbox;
    flex-direction: column;
}

.about-info-row {
    flex-grow: 20%;

    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about-info-item {
    display: flex;
    flex-grow: 50%;
    background-color: #424040;
    width: 100%;
    height: 100%;
}